* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

img {
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    background-color: blue;

}

h1 {
    display: inline-block;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: blue;
    font-family: Arial;
    font-weight: bolder;
    font-size: 90px;
    color: white;
}
h2 {
    padding-top: 5px;
    
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    background-color: blue;
    font-family: Arial;
    font-weight: normal;
    font-size: px;
    color: white;
}
div.tab {
    background-color: blue;
}